* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to right, #f5bddb, #f8acd6);
}

#profile_box {
    background-image: url("");
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

#profile_pic {
    width: 100px;
    height: 100px;
    border: 2px solid red;
    box-sizing: 0 0 10px #ccc;
    border-radius: 50%;

}